.courses-holder {
    /* display: inline; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 15px;
    direction: ltr;
}

.course-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details {
    padding-left: 10px;
    padding-right: 10px;
}

.details {}

a.link {font-size: 25px;}
