.Sub-address {
font-family: 'Playpen Sans', cursive;
  border-color: #040404;
  border-width: 5px;
    border-style: outset;
    text-align: center;
    padding: 10px 10px;
    display: block;
    border-radius: 6px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #f4424c, #004bf5);
}round: #b6c4d5;
}
    
@media only screen and (min-width: 768px) {
img {
border-radius: 10px;
    box-shadow: -11px -8px 5px black;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin: auto;
    padding: 5px;
    height: 500px;
    width: auto;
}
}
}


body {

    background-color: #EEE;
    margin: 40px auto;
    position: relative;
    margin: 20px;
    background-image: url(https://img.freepik.com/premium-photo/photo-person-working-computer-internet-connection-virtual-reality-concept-cartoon-generativ_646510-4705.jpg);


}



.site .widget {
    box-shadow: 0 6px 18px 0 rgba(9,32,76,.035);
    background: #fff;
    clear: both;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    margin: 0 0 15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}
.widget {
    overflow: hidden;
}

  .widget.Label .cloud-label-widget-content span.label-size a.label-name {
    padding: 10px 10px;
    display: block;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    background: #b6c4d5;
    margin: 10px;
font-family: 'Cairo', sans-serif;

    

.img {
border-radius: 10px;
    box-shadow: -11px -8px 5px black;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin: auto;
    padding: 5px;

}
