Sub-address {
font-family: 'Playpen Sans', cursive;
  border-color: #040404;
  border-width: 5px;
    border-style: outset;
    text-align: center;
    padding: 10px 10px;
    display: block;
    border-radius: 6px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #f4424c, #004bf5);
}
